<div class='{{CG_modal}}'>
  <div class='{{CG_modal elem='wrapper'}}'>
    <div class='{{CG_modal elem='header'}}'>Добавить контакт</div>
    <div id={{loginInputId}} class='{{CG_modal elem='login-input'}}'>
      <!--  блок для инпута поиска -->
    </div>
    <div class='{{CG_modal elem='buttons'}}'>
      {{> button id=cancelBtnId value='Отмена' variant='secondary' fullWidth=true}}
      {{> button id=addBtnId value='Добавить' fullWidth=true }}
    </div>
  </div>
</div>
