<main class="{{CG_profile-view}}">
  <div class="{{CG_profile-view elem='avatar-wrapper'}}">
    {{> avatar src=avatar alt='avatar' }}
  </div>
  <div class="{{CG_profile-view elem='rows'}}">
    {{> static-input label='Почта' value=email }}
    {{> static-input label='Логин' value=login }}
    {{> static-input label='Имя' value=firstName }}
    {{> static-input label='Фамилия' value=secondName }}
    {{> static-input label='Телефон' value=phone }}
  </div>
  <div class="{{CG_profile-view elem='buttons'}}">
    {{{editProfileButton}}}
    {{{editPasswordButton}}}
  </div>
  <div class="{{CG_profile-view elem='back-link'}}">
    {{> link href='/chats' value='Вернуться к чатам' }}
  </div>
</main>

