<div class="{{CG_input block='input-wrapper'}}">
    <input id={{id}} type={{type}} class="{{CG_input modifiers=modifiers}}" placeholder=' '}>
    <label for="{{id}}" class="{{CG_input block='input-label'}}">{{placeholder}}</label>
</div>



