<div class='{{CG_message modifiers=(CG_message-modifiers isFromMe=isFromMe isRead=isRead) className=className}}'>
  <div class='{{CG_message elem='text'}}'>
    <span class='{{CG_message elem='save-spaces'}}'>{{{transformLink text=text}}}</span>
    <span class='{{CG_message elem='info-pseudo'}}'>{{getTime time=time}}
      <div class='check-icons'></div>
    </span>
  </div>
  <div class='{{CG_message elem='info'}}'>
    {{getTime time=time}}
    <div class='{{CG_message elem='check-icons'}}'></div>
  </div>

</div>
