<main class="{{CG_auth}}">
  <div class="{{CG_auth elem='wrapper'}}">
    <h1 class="{{CG_auth elem='title'}}">Вход</h1>
    <form id={{formId}} class="{{CG_auth elem='inputs-wrapper'}}" name="auth">
        <!--   form inputs     -->
    </form>
    {{> button id=authBtnId value='Авторизоваться' fullWidth=true}}
    {{> link href='/registration' value='Нет аккаунта?' className=(CG_auth elem='link') }}
  </div>
</main>
