<main class="{{CG_auth}}">
    <div class="{{CG_auth elem='wrapper'}}">
        <h1 class="{{CG_auth elem='title'}}">Вход</h1>
        <div class="{{CG_auth elem='inputs-wrapper'}}">
            {{> input name='login' id='input-login' placeholder='Логин' type='text' modifiers='full-width' }}
            {{> input name='password' id='input-password' type='password' placeholder='Пароль' modifiers='full-width'}}
        </div>
        {{> button id='btn-auth' value='Авторизоваться' modifiers='full-width'}}
        <a id='link-to-registration' class="{{CG_auth elem='link'}}">Нет аккаунта?</a>
    </div>
</main>
