<div class='{{CG_modal}}'>
  <div class='{{CG_modal elem='wrapper'}}'>
    <div class='{{CG_modal elem='header'}}'>Добавить контакт</div>
    <div class='{{CG_modal elem='login-input'}}'>
      {{{loginInput}}}
    </div>
    <div class='{{CG_modal elem='buttons'}}'>
      {{{cancelButton}}}
      {{{addButton}}}
    </div>
  </div>
</div>
