<main class="{{CG_registration }}">
  <div class="{{CG_registration elem='wrapper'}}">
    <h1 class="{{CG_registration elem='title'}}">Регистрация</h1>
    <form class="{{CG_registration elem='inputs-wrapper'}}" name="registration">
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{phoneInput}}}
      {{{passwordInput}}}
      {{{repeatPasswordInput}}}
    </form>
    {{{signUpButton}}}
    {{#> link href='/auth' value='Есть аккаунт?' className=(CG_registration elem='link') }}{{/link}}
  </div>
</main>
