<div class='{{CG_messages}}'>
  {{#if isSelectedChat}}
    {{#if isLoading}}
      {{#> loader  }}{{/loader}}
    {{else}}
      <div class='{{CG_messages elem='user-header'}}'>
        {{#> avatar src=companion.avatar alt='avatar' size='small' }}{{/avatar}}
        <div class='{{CG_messages elem='companion-name'}}'>
          {{companion.name}}
        </div>
      </div>
      <div id={{messageGroupsWrapperId}} class='{{CG_messages elem='message-list' modifiers=messageGroupsWrapperModifiers}}'>
        {{#each messageGroups}}
          {{{this}}}
        {{/each}}
      </div>
      <div class='{{CG_messages elem='new-message-wrapper'}}'>
        {{{clipButton}}}
        {{{messageTextarea}}}
        {{{sendButton}}}
      </div>
    {{/if}}
  {{else}}
    <div class='{{CG_messages elem='no-selected-chat'}}'>
      Выберите чат, чтобы начать общение
    </div>
  {{/if}}
</div>
