<main class='{{CG_chats}}'>
  <div  class='{{CG_chats elem='chat-list'}}'>
    {{#if isLoading}}
      {{> loader }}
    {{/if}}

    <div id={{listId}}>
      <!-- блок для массива компонентов "чат" -->
    </div>
  </div>
  <div id={{messagesId}} class='{{CG_chats elem='messages'}}'>
    <!-- блок для компонента "сообщения" -->
  </div>
</main>
