<main class='{{CG_chats}}'>
  <div  class='{{CG_chats elem='chat-list'}}'>
    {{{chatsHeaderComponent}}}
    {{#if isLoading}}
      {{> loader  }}
    {{else}}
      {{{chatListComponent}}}
    {{/if}}
  </div>
{{{messagesComponent}}}
</main>


