<div
  id={{id}}
  class='{{CG_chat-list-item
    className=className
    modifiers=(CG_chat-list-item-modifiers isActive=isActive)
  }}'
>
  <div class='{{CG_chat-list-item elem='avatar'}}'>
    {{> avatar src=avatar alt='avatar' size='small' }}
  </div>
  <div class='{{CG_chat-list-item elem='block'}}'>
    <div class='{{CG_chat-list-item elem='title'}}'>
      <div class='{{CG_chat-list-item elem='name'}}'>{{title}}</div>
      <div class='{{CG_chat-list-item elem='time'}}'>{{date}}</div>
    </div>
    <div class='{{CG_chat-list-item elem='subtitle'}}'>
      <div
        class='{{CG_chat-list-item elem='message'}}'
      >
<!--        TODO ДОБАВИТЬ ФЛАГ FROM ME-->
        {{#if last_message.fromMe}}
          <span class='{{CG_chat-list-item elem='from-me'}}'>Вы: </span>
        {{/if}}
        {{last_message.content}}</div>
        {{#if unread_count}}
              <div
                class='{{CG_chat-list-item elem='count'}}'
              >{{unread_count}}</div>
          {{/if}}
    </div>
  </div>
</div>
