<div class='{{CG_message modifiers=(CG_message-modifiers fromMe=fromMe isRead=isRead) className=className}}'>
  <div class='{{CG_message elem='text'}}'>
    {{text}}
    <span class='{{CG_message elem='info-pseudo'}}'>{{time}}
      <div class='{{CG_message elem='check-icons'}}'>
      </div>
    </span>
  </div>
  <div class='{{CG_message elem='info'}}'>
    {{time}}
    <div class='{{CG_message elem='check-icons'}}'>
    </div>
  </div>

</div>
